{
  "semi": false,
  "printWidth": 200,
  "overrides": [
      {
          "files": [
              ".prettierrc",
              "package,json"
          ],
          "options": {
              "parser": "json"
          }
      }
  ]
}